<div class="footer-wrap">
	<div class="footer-content">
		<div class="btn-goTop">
			<button class="btn-top" type="button">TOP</button>
		</div>
		<div class="footer-family">
			<div class="family-inner">
				<button class="family-btn" type="button"><span>Employee Site</span></button>
				<ul class="family-list">
					<li class="family-item"><a href="#none" title="새창열림">PDIM</a></li>
					<li class="family-item"><a href="#none" title="새창열림">Group Ware</a></li>
					<li class="family-item">
						<!--s: 20200903 텍스트 수정-->
						<a href="#none" title="새창열림">CMFG</a>
						<!--e: 20200903 텍스트 수정-->
					</li>
					<li class="family-item"><a href="#none" title="새창열림">Webhard</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-inner">
			<span class="footer-logo"><img src="/images/common_mobile/img_footer_logo.jpg" alt="DOHWA" /></span>
			<span class="footer-sns">
				<a class="ico-blog" href="#none" title="새창열림"><span class="hide-txt">Blog</span></a>
				<a class="ico-youtube" href="#none" title="새창열림"><span class="hide-txt">Youtube</span></a>
			</span>
			<div class="footer-info">
				<!--s :20200914 우편번호 수정-->
				<p>서울특별시 강남구 삼성로 438 (#06178)</p>
				<!--s :20200914 우편번호 수정-->
				<p>대표전화 : 02 - 6323 - 3000</p>
				<ul class="footer-menu">
					<li>
						<!-- s: 20200813 수정 -->
						<a href="#none"><strong class="nanumB">개인정보처리방침</strong></a>
						<!-- e: 20200813 수정 -->
					</li>
					<li><a href="#none">윤리경영 제보라인</a></li>
				</ul>
				<address class="copyright">
					COPYRIGHT © 2020 DOHWA ENGINEERING CO., LTD.
					<br />
					AllRIGHT RESERVED.
				</address>
			</div>
		</div>
	</div>
</div>
