<ul class="skipnav">
	<li><a href="#">주요메뉴 바로가기</a></li>
	<li><a href="#content">컨텐츠 바로가기</a></li>
</ul>
<div class="header-content">
	<h1 class="logo-wrap"><a href="#">도화엔지니어링</a></h1>
	<div class="gnb-wrap">
		<ul class="gnb-menu-list">
			<li class="gnb-menu-item">
				<a class="gnb-menu-link" href="#">회사소개</a>
				<ul class="gnb-sub-list">
					<li class="gnb-sub-item"><a href="#">Overview</a></li>
					<li class="gnb-sub-item"><a href="#">Vision</a></li>
					<li class="gnb-sub-item"><a href="#">People</a></li>
					<li class="gnb-sub-item"><a href="#">History</a></li>
					<li class="gnb-sub-item"><a href="#">CSR</a></li>
					<li class="gnb-sub-item"><a href="#">Contact us</a></li>
				</ul>
			</li>
			<li class="gnb-menu-item">
				<a class="gnb-menu-link" href="#">사업소개</a>
				<ul class="gnb-sub-list">
					<li class="gnb-sub-item"><a href="#">Overview</a></li>
					<li class="gnb-sub-item"><a href="#">프로젝트</a></li>
				</ul>
			</li>
			<li class="gnb-menu-item">
				<a class="gnb-menu-link" href="#">투자정보</a>
				<ul class="gnb-sub-list">
					<li class="gnb-sub-item"><a href="#">재무정보</a></li>
					<li class="gnb-sub-item"><a href="#">전자공고 및 공시</a></li>
					<li class="gnb-sub-item"><a href="#">IR 자료실</a></li>
					<li class="gnb-sub-item"><a href="#">주식 및 주주정보</a></li>
				</ul>
			</li>
			<li class="gnb-menu-item">
				<a class="gnb-menu-link" href="#">홍보센터</a>
				<ul class="gnb-sub-list">
					<li class="gnb-sub-item"><a href="#">CI소개</a></li>
					<li class="gnb-sub-item"><a href="#">최신뉴스</a></li>
					<li class="gnb-sub-item"><a href="#">기업브로슈어</a></li>
					<li class="gnb-sub-item"><a href="#">홍보영상</a></li>
				</ul>
			</li>
			<li class="gnb-menu-item">
				<a class="gnb-menu-link" href="#">채용정보</a>
				<ul class="gnb-sub-list">
					<li class="gnb-sub-item"><a href="#">채용안내</a></li>
					<li class="gnb-sub-item"><a href="#">채용지원</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="menu">
		<span class="down-wrap">
			<a class="bttn-down-brochure" href="#none">
				회사소개 브로셔
				<em class="ico down" aria-hidden="true"></em>
			</a>
		</span>
		<span class="lang-wrap">
			<button class="bttn-lang-sel" type="button">KOR</button>
			<!-- 20200804 텍스트 수정 KR => KOR -->
			<ul class="lang-list">
				<li>
					<button class="bttn-lang" type="button">KOR</button>
					<!-- 20200804 텍스트 수정 KR => KOR -->
				</li>
				<li>
					<button class="bttn-lang" type="button">ENG</button>
				</li>
				<li>
					<button class="bttn-lang" type="button">ESP</button>
				</li>
			</ul>
		</span>
		<span class="btn-gnb-wrap">
			<button class="bttn-all-menu" type="button">
				<em class="ico gnb-menu" aria-hidden="true"></em>
				MENU
			</button>
		</span>
	</div>
</div>
