<ul class="skipnav">
	<li><a href="#">주요메뉴 바로가기</a></li>
	<li><a href="#content">컨텐츠 바로가기</a></li>
</ul>
<div class="header_content">
	<!--스크롤 및 햄버거 클릭시 .on 클래스 추가-->
	<h1 class="logo-wrap">
		<a href="#"></a>
		<span class="hide-txt">DOHWA</span>
	</h1>
	<div class="header-menu">
		<span class="btn-gnb-wrap">
			<button class="bttn-all-menu" type="button">
				<em class="ico gnb-menu" aria-hidden="true"></em>
				<span class="hide-txt">Menu</span>
			</button>
		</span>
		<div class="header-all-menu">
			<!-- .bttn-all-menu 클릭시 .active 추가 (전체메뉴 노출) -->
			<div class="scroll-wrap">
				<ul class="all-menu-list">
					<li class="all-menu-item">
						<!-- 활성화 클래스 : active -->
						<a href="#none">
							회사소개
							<i class="ico-gnb-arrow" aria-hidden="true"></i>
						</a>
						<ul class="gnb-sub-list">
							<li class="gnb-sub-item"><a href="#">Overview</a></li>
							<li class="gnb-sub-item"><a href="#">Vision</a></li>
							<li class="gnb-sub-item"><a href="#">People</a></li>
							<li class="gnb-sub-item"><a href="#">History</a></li>
							<li class="gnb-sub-item"><a href="#">CSR</a></li>
							<li class="gnb-sub-item"><a href="#">Contact us</a></li>
						</ul>
					</li>
					<li class="all-menu-item">
						<a href="#none">
							사업소개
							<i class="ico-gnb-arrow" aria-hidden="true"></i>
						</a>
						<ul class="gnb-sub-list">
							<li class="gnb-sub-item"><a href="#">Overview</a></li>
							<li class="gnb-sub-item"><a href="#">프로젝트</a></li>
						</ul>
					</li>
					<li class="all-menu-item">
						<a href="#none">
							투자정보
							<i class="ico-gnb-arrow" aria-hidden="true"></i>
						</a>
						<ul class="gnb-sub-list">
							<li class="gnb-sub-item"><a href="#">재무정보</a></li>
							<li class="gnb-sub-item"><a href="#">전자공고 및 공시</a></li>
							<li class="gnb-sub-item"><a href="#">IR 자료실</a></li>
							<li class="gnb-sub-item"><a href="#">주식 및 주주정보</a></li>
						</ul>
					</li>
					<li class="all-menu-item">
						<a href="#none">
							홍보센터
							<i class="ico-gnb-arrow" aria-hidden="true"></i>
						</a>
						<ul class="gnb-sub-list">
							<!--s: 20200831 메뉴추가-->
							<li class="gnb-sub-item"><a href="#">CI소개</a></li>
							<li class="gnb-sub-item"><a href="#">최신뉴스</a></li>
							<li class="gnb-sub-item"><a href="#">기업브로슈어</a></li>
							<li class="gnb-sub-item"><a href="#">홍보영상</a></li>
							<!--e: 20200831 메뉴추가-->
						</ul>
					</li>
					<li class="all-menu-item">
						<a href="#none">
							채용정보
							<i class="ico-gnb-arrow" aria-hidden="true"></i>
						</a>
						<ul class="gnb-sub-list">
							<li class="gnb-sub-item"><a href="#">채용안내</a></li>
							<li class="gnb-sub-item"><a href="#">채용지원</a></li>
						</ul>
					</li>
				</ul>
				<ul class="lang-list">
					<li>
						<button class="bttn-lang on" type="button">
							KOR
							<!-- 활성화 클래스 : on -->
						</button>
					</li>
					<li>
						<button class="bttn-lang" type="button">ENG</button>
					</li>
					<li>
						<button class="bttn-lang" type="button">ESP</button>
					</li>
				</ul>
			</div>
			<button class="bttn-menu-close" type="button" title="전체메뉴 닫기"><span class="hide-txt">전체메뉴 닫기</span></button>
		</div>
	</div>
</div>
